
*{
	font-family: verdana;
}



.carousel-inner
{
	width: %100;
}


#navbar{

	background-color: #3d3144;
}

#yazı{
	color:#efe6e5;
}

ul li:hover{
	background-color: #9f89a3;
	
}

ul li a:hover{
	color:black;
}

.col-md-4{
	background-color:#e2c6f3;

	text-align: center;

	margin-top: 20px;

	


}
	
.col-md-2{

	background-color:#e2c6f3;

	text-align: center;

	margin-top: 10px;

	

}	

#footer{
	background-color: #3d3144;
}
	
h3{
	color: #efe6e5;
}

a{
	color:#efe6e5;
}

#p{
	color:#efe6e5;
}

iframe{
	width: %100;
}

#col{
	
	background-color:#eed1f2;
}

#icon{
	font-size:18px
}